{% extends 'base.html'%}
{% load crispy_forms_tags %}

{% block title %}
  Add Question
{% endblock %}

{% block style %}
 <style>
     .question-style{
         width: 700px;
         height: auto;
     }
 </style>
{% endblock %}

{% block body %}
     <div class="container mt-5 question-style">
         <h3>Add Question</h3>
         <form action="" method="post" novalidate>
             {% csrf_token %}
             {{ question_form | crispy }}

             <input type="submit" value="Add Question" 
             class="btn btn-primary"/>
         </form>
     </div>
{% endblock %}