{% extends 'base.html'%}

<div></div>
{% block title %} Question List {% endblock %} {% block style %}
<style>
  .link-style {
    text-decoration: none;
    color: rgb(28, 98, 4);
  }
  .link-style:hover {
    text-decoration: none;
    color: gray;
  }
</style>
{% endblock %} {% block body %}
<div class="container">
  {% for question in question_list %}
  <div class="card mt-3 shadow">
    <div class="card-body">
      <h5 class="card-title">
        <a href="{% url 'qdetails' question.slug %}" class="link-style">
          {{question.title}}
        </a>
        <p class="card-text">{{question.body}}</p>
        <div class="card-footer">
          <div class="row">
            <div class="col col-md-auto">
              Posted By: {{question.author.username}}
            </div>
            <div class="col col-md-auto">
              Answers: {{question.answers.count}}
            </div>
          </div>
        </div>
      </h5>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
